@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  --primary-font: "Fraunces", serif;
  --secondary-font: "Montserrat", sans-serif;
  --medium-weight: 500;
  --bold-weight: 700;
  --body-bg-color: hsl(30, 38%, 92%);
  --card-bg-color: hsl(0, 0%, 100%);
  --price-color: hsl(158, 36%, 37%);
  --btn-color: hsl(158, 36%, 37%);
  --para-color: hsl(228, 12%, 48%);
  --head-color: hsl(212, 21%, 14%);
}

body {
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: var(--medium-weight);
  background-color: var(--body-bg-color);
  color: var(--para-color);
}

h1 {
  font-family: var(--primary-font);
  font-weight: var(--bold-weight);
  color: var(--head-color);
  font-size: 22.6px;
}
